version: '2.1'

services:
  terraform:
    volumes:
      - ~/.aws:/root/.aws:ro

  terraform-init:
    volumes:
      - ~/.aws:/root/.aws:ro

  backend-create:
    volumes:
      - ~/.aws:/root/.aws:ro

  backend-destroy:
    volumes:
      - ~/.aws:/root/.aws:ro